/* * {
    box-sizing: border-box;
} */
html{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
 
  
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #293264;
  font-family: 'Karla', sans-serif;
  /* margin: 100px 0px; */
  padding: 40px;
}

.topCircle{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #4D5B9E;
  position: fixed;
  left: -150px;
  top:-200px;
  z-index: -1;
}

.bottomCicle{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-color:bisque;
  position: fixed;
  /* right: 10px; */
  right: -150px;
  bottom:-200px;
  z-index: -1;
}

body{
 
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* width: 100vw; */

  /* margin-top: 100px;
  margin-bottom: 50px; */
  /* font-size: 1.3em; */

}

/* #root{
  width: 100vw;
} */

.startScreen{
  text-align: center;
  font-size: large;
  position: relative;
  top:150px;
 
}

button{
  background-color: #4D5B9E;
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 15px;
  color: white;
}

button:hover{
  background-color: #293264;
}


button:active{
  border: none;
  outline: none;
}
button:focus{
  border: none;
  outline: none;
}

.questions{
  /* font-size: 1em; */
  font-weight: bold;
}

.optDiv{
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.opts{
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  padding: 5px;
}
.opts:hover{
  cursor: pointer;
}


.ques{
  margin-top: 100px;
  margin-bottom: 100px;
}

h1{
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
}

.title{
  margin-bottom: 100px !important;
}

.eachQues{
  margin: 0px 0px;
  /* max-width: 50vw; */
}

hr{
  background-color:#DBDEF0;
  border: none;
   border-radius:9;
   width: 250px;
   height: 3px;
   border-radius: 9px;
   margin: 50px auto;
}

.result{
  margin-top: 30px;
  padding: 10px 30px;
  background-color: aquamarine;
  border-radius: 9px;
}